<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <h:outputStylesheet library="webjars" name="bootstrap/3.2.0/css/bootstrap.min.css"/>
    <h:outputStylesheet library="webjars" name="font-awesome/4.2.0/css/font-awesome.min-jsf.css"/>
    <h:outputStylesheet library="project" name="css/project.css"/>

    <h:outputScript library="webjars" name="modernizr/2.7.1/modernizr.min.js"/>
    <h:outputScript library="webjars" name="bootstrap/3.2.0/js/bootstrap.min.js"/>
</h:head>
<h:body>
    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-4 col-md-offset-4">
                <h:form method="POST" action="http://bootsnipp.com/login"
                        accept-charset="UTF-8" role="form" id="loginform" class="form-signin">

                    <fieldset>
                        <h3 class="sign-up-title" style="color:dimgray;">Please sign up</h3>

                        <input class="form-control" placeholder="Username" name="username" type="text"></input>
                        <input class="form-control middle" placeholder="E-mail" name="email" type="text"></input>
                        <input class="form-control middle" placeholder="Password" name="password" type="password" value=""></input>
                        <input class="form-control bottom" placeholder="Confirm Password" name="password_confirmation" type="password" value=""></input>

                        <br/>

                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="SignUp"></input>

                        <p class="text-center" style="margin-top:10px;">OR</p>
                        <a class="btn btn-default btn-block" href="#">
                            <i class="fa fa-github fa-fw"></i> SingUp with Github</a>

                        <br/>

                        <p class="text-center"><h:commandLink value="Already registered?" action="#{navigationMB.redirectToSignIn()}"/></p>
                    </fieldset>
                </h:form>
            </div>
        </div>
    </div>
</h:body>
</html>
