<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <h:outputStylesheet library="webjars" name="bootstrap/3.2.0/css/bootstrap.min.css"/>
    <h:outputStylesheet library="webjars" name="font-awesome/4.2.0/css/font-awesome.min-jsf.css"/>
    <h:outputStylesheet library="project" name="css/project.css"/>

    <h:outputScript library="webjars" name="modernizr/2.7.1/modernizr.min.js"/>
    <h:outputScript library="webjars" name="bootstrap/3.2.0/js/bootstrap.min.js"/>
</h:head>
<h:body>Error Login</h:body>
</html>
